{% extends "parent.html" %}

{% block title %}
Create a new Channel
{% endblock %}


{% block body %}
        <div class=channelform>
                <h1>Create your channel</h1>
                <form action="createchannel" method="POST">
                        {% csrf_token %}
                        <div>Name: </div>
                        {{form.channel_name|linebreaks}}
                        <br>
                        <button type="submit" class="btn btn-primary">Create Channel!</button>
                </form>
        </div>
{% endblock %}