<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - YTC</title>
        <!-- Latest compiled and minified CSS -->

        {% load staticfiles %}
        <link rel='stylesheet' href="{% static 'css/homepage.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>

    <body style='background-color:"#414040"'>


            <div class="navbar_top">
                <div class="navbar_top_left">
                    <ul class="Ytlogo">
                        <li><a href="/"><img src="/static/images/Ylogo.png" width='60px' height='50px' alt="image is here!!"></a></li>
                    </ul>
                    <ul class="Ythead">
                        <li><a href="/"><b>YouTube Clone</b></a></li>
                    </ul>
                    
                </div>
                <div class="navbar_top_right">
                    
                    {% if user.is_authenticated %}
                    <ul class="top_right_content">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                        {% if channel %}
                        <ul class="top_right_content">
                            <li><a class="{% if request.path == '/new_video' %} active {% endif %}" href="/new_video">Upload</a></li>
                        </ul>
                        <ul class="top_right_content">
                            <li><a href="/{{ user }}/channel">Welcome {{ user }}</a></li>
                        </ul>
                        {% else %}
                        <ul class="top_right_content">
                            <li><a href="/createchannel">Create Channel</a></li>
                        </ul>
                        {% endif %}
                    {% else %}
                    <ul class="top_right_content">
                        <li><a class="{% if request.path == '/register' %} active {% endif %}" href="/register">Sign Up</a></li>
                    </ul>
                        <ul class="top_right_content">
                            <li><a class="{% if request.path == '/login' %} active {% endif %}" href="/login">Sign In</a></li>
                        </ul>
                    {% endif %}
                </div>
                
            </div>
        
        
            <div class="navbar_left">
                <div class="vertical-menu">
                    <a href="/">Home</a>
                    <a href="{% url 'trending' %}">Trending</a>
                    <a href="{% url 'channels_list' %}">Channels</a>
                    <hr class="horizontal_line">
                    <a href="{% url 'subscriptions' %}">Subscriptions</a>
                    <a href="{% url 'watch_history' %}">History</a>
                    <a href="{% url 'liked_videos' %}">Liked</a>
                    <hr class="horizontal_line">
                    <a href="{% url 'help' %}">About Us</a>
                    <a href="https://forms.gle/1ciZqqPGYwr14tX18">Feedback</a>
                </div> 
            </div>
        
            {% block body %}
            {% endblock %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>